.contentDiapo {
  margin: 50px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.diapo {
  height: 500px;
  width: 900px;
  background-image: url("pages/styles/img/21465530-pelle-chargeuse-pelleteuse-avec-déchargement-du-sable-à-des-travaux-de-terrassement-dans-le-chantier-de-.jpg");
  background-size: cover;
  background-position: center;
}

.desc {
  width: 300px;
  display: flex;
}
