body{
  background-color: rgba(0, 0, 0, 0.05);
}
.main{
  height: 700px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

form{
  width: 250px;
  margin: 50px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.champ{
  margin: 10px;
  padding: 10px;
}