.text, .titre{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.presentation, .description{
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.description{
  width: 900px;
}
